
.hero {
  margin:0 auto;
  position: relative;
}
img {max-width:100%}
.herotext {
  font-size: 1rem;
  background:rgba(255,255,255,0.5);
  position: absolute;
  color: #282C33;
  top:50%;
  left:0;
  padding:1rem;
  transform:translateY(-50%);
}

@media screen and (max-width:540px){
  .text {font-size: 0.7rem}
}