.hero {
    margin:0 auto;
    position: relative;
}

.postinfo {
    color: #777;
}

hr.stylish {
    max-width: 8rem;
    margin: 1,3rem auto;
    border-width: 4px;
    border-color: #fff;
}

.heromenu {
    position: absolute;
    top:5%;
}

.heromenu a {
    color: white;
}

.heromenu a:hover {
    text-decoration: underline;
}

.herotext {
    position: absolute;
    color: white;
    top:30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media screen and (max-width:540px){
    .text {font-size: 0.7rem}
}